<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Majoredin - Log in</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
      integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw="
      crossorigin="anonymous"
    />
    {{ style('styleforlogin') }}
  </head>
  <body>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <img class="logo" src="/images/logo.png">
        <h2 class="ui header">
          <div class="content">
            Login to Majoredin
          </div>
        </h2>
        <form class="ui large form" action="{{ route('UserController.login') }}" method="POST">
          {{ csrfField() }}
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="email" name="email" placeholder="E-mail" value="{{ old('email', '') }}"/>
              </div>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password" />
              </div>
            </div>

            <div class="ui fluid large submit button" type="submit">Login</div>
          </div>

          <div class="ui error message"></div>
        </form>
        <div class="ui message">
          Want to Join the majoredIn Community? <a href="/signup">Sign Up</a>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"
      integrity="sha256-qs5p0BFSqSvrstBxPvex+zdyrzcyGdHNeNmAirO2zc0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </body>
</html>