<!DOCTYPE html>
<html>

<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <!-- Site Properties -->
  <title>majoredIn - Explore</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
    integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw=" crossorigin="anonymous" />
  {{ style('style') }}
  {{ style('styleforexplore') }}

</head>

<body>
  <div class="ui secondary pointing menu">
    <a href="/explore" class="active item">
      Explore
    </a>
    <a href="/feed"class="item">
      Feed
    </a>
    <div class="right menu">
      <a href="/myprofile" class="ui item">
        My Profile
      </a>
      <a href="/logout" class="ui item">
        Logout
      </a>
    </div>
  </div>
  <div id="heading"><b>Connect with your Community</b></div>
  <div class="ui container" id="feed">
    <div class="ui link cards">

    @each(student in profiles)
      @unless(myProfile === student.user_id)
      <div class="card">
        <div class="image">
          <img src="../he.png" />
        </div>
        <div class="content">
          <div class="header"> {{ student.first_name }} {{ student.last_name }} </div>
          <div class="meta">
            {{ student.major }}
          </div>
          <div class="description">
            {{ student.fun_fact }}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Class of {{ student.year }}
          </span>
          <span>
            <i class="user icon"></i>
            {{ student.college }}
          </span>
        </div>
      </div>
      @endunless
    @endeach

    </div>
  </div>

  <div class="sixteen wide column" style="margin-top: 5%;">
    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="seven wide column">
            <a href="#"></a>
            <p class="ui inverted header">
              Majoredin<img src="/images/logo.png" width="10" height="10" />
            </p>
          </div>
          <div class="five wide column">
              <h4 class="ui inverted header">Created by:</h4>
              <div><p>  Neil Patel </p></div>
              <div><p>  Sohee Kim </p></div>
              <div><p>  Jorge Madrigal Adan </p></div>
              <div><p>  Annie Sadler </p></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"
    integrity="sha256-qs5p0BFSqSvrstBxPvex+zdyrzcyGdHNeNmAirO2zc0=" crossorigin="anonymous"></script>
  <script>
    $('.special.cards .image').dimmer({
      on: 'hover'
    });
  </script>
</body>

</html>