body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifl;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
.ui.teal.button {
  background-color: lightgrey;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
}
.ui.header {
  color: black !important;
}
.logo {
  height: 100px;
  width: 100px;
}

h1 {
  font-size: 35px;
}
