#feed {
  display: flex;
  justify-content: center;
  /* width: 80%; */
  /* padding-left: 8%; */
  padding-bottom: 5%;
}

#heading {
  padding-top: 3%;
  padding-bottom: 4%;
  text-align: center;
  font-size: 35px;
}

#up {
  padding: 5%;
}
